.profile-background {
    background-image: url("../../assets/backgrounds/beautiful-shot-misty-foggy-mysterious-forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.profile-outer-container {
    padding: 15px 20px 10px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 500px;
}

.profile-text-city-pref-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.profile-text-container {
    border-radius: 8px;
    background-color: rgba(228, 223, 218, 0.6);
    padding: 5px 10px 5px 10px;
}

.profile-city-and-preferences-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.profile-saved-cities-container {
    min-width: 260px;
    padding: 10px;
    background: rgba(228, 223, 218, 0.6);
    border-radius: 8px;
    margin: 10px;
}

.profile-preferences-container {
    padding: 10px;
    background: rgba(228, 223, 218, 0.6);
    border-radius: 8px;
    margin: 10px;
}

.profile-sidebar-container{
    display: flex;
    width: 235px;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(228, 223, 218, 0.6);
    padding: 5px;
    text-align: center;
    margin: 0 10px 10px 10px;
}

.preferences-input-wrapper {
    margin: 10px 0 10px 0;
}