.icon-wrapper {
    width: 25px;
}

.home-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px 20px 10px 20px;
    flex-wrap: wrap;
}

.saved-city-list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px;
    min-width: 290px;

}

.image-and-search-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50%;
    justify-content: space-between;
    min-width: 290px;
}

.image-container {
    display: flex;
    max-height: 50%;
    justify-content: center;
    margin: 0 0 10px 0;
}

.home-image {
    width: 100%;
    height: auto;
}

.weather-search-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    border: solid 2px black;

    margin: 0 0 10px 0;
    padding: 5px;
}
