.signup-background {
    background-image: url("../../assets/backgrounds/river-surrounded-by-forests-cloudy-sky-thuringia-germany.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.signup-outer-container {
    padding: 15px 20px 10px 20px;
    display: flex;
    justify-content: center;
}

.signup-form-container {
    display: flex;
    max-width: 70%;
    flex-direction: column;
    align-items: center;
    background: rgba(212, 180, 131, 0.6);
    margin: 10px;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
}

.signup-input-container {
    margin-bottom: 20px;
}

.signup-input-field {
    text-align: center;
}

.signup-button {
    padding: 2px
}